@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans:ital,wght@0,300;0,400;0,600;0,700;1,700&display=swap");
/*
font-family: 'Architects Daughter', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

:root {
  --COLOR-bg: #fafafa;
  --COLOR-secondary-bg: white;
  --COLOR-text: black;
  --COLOR-border: rgba(128, 128, 128, 0.3);
  --COLOR-btn-primary: #028aff;
  --COLOR-btn-primary-hover: #ff7702;
  --COLOR-backdrop-bg: rgba(0, 0, 0, 0.85);
  --COLOR-modal-bg: white;
  --COLOR-blue: #028aff;
}

.nav{
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  background-color: var(--COLOR-secondary-bg);
}

.nav .nav-links{
  display: flex !important;
}

*,
body {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-flow: column;
  background-color: var(--COLOR-bg);
  min-height: 100vh;
  font-family: "Josefin Sans", sans-serif;
}

.main-content {
  width: 50%;
}

.main-content h1 {
  font-family: "Architects Daughter", cursive;
  color: var(--COLOR-btn-primary);
}

footer {
  margin-top: 4rem;
  padding: 2rem;
  justify-content: space-between;
}

footer div {
  flex: 1 0 33%;
}

footer div h3{
  color: var(--COLOR-btn-primary);
}

footer div span{
  color: red;
}

footer div ul{
  list-style: none;
}

footer div ul li a{
  text-decoration: none;
  color: unset;
}

/* Display classes */

.flex {
  display: flex;
}

.flex.row {
  flex-flow: row;
}

.flex.column {
  flex-flow: column;
}

.flex.centered {
  justify-content: center;
  align-items: center;
}

.flex.gap{
  gap: 1rem;
}

@media (max-width: 480px) {
  .nav{
    padding: 0 1rem !important;
  }
  footer{
    flex-flow: column !important;
    gap: 1rem;
  }
  .main-section{
    flex-flow: column !important;
  }
}
