/* Chip */
.chip {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: var(--white);
  border: 1px solid var(--COLOR-btn-primary);
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.chip p {
  display: inline-block;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}

.chip .chip-dismiss {
  margin-left: auto;
  cursor: pointer;
}

.chip .chip-dismiss:hover {
  color: var(--COLOR-btn-primary);
}