@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&family=Josefin+Sans&display=swap");
/*
font-family: 'Architects Daughter', cursive;
font-family: 'Josefin Sans', sans-serif;
*/

:root {
  --COLOR-bg: #fafafa;
  --COLOR-secondary-bg: white;
  --COLOR-text: black;
  --COLOR-border: rgba(128, 128, 128, 0.3);
  --COLOR-btn-primary: #028aff;
  --COLOR-btn-primary-hover: #ff7702;
  --COLOR-backdrop-bg: rgba(0, 0, 0, 0.85);
  --COLOR-modal-bg: white;
  --COLOR-blue: #028aff;
}

.body-container {
  padding: 2rem;
  gap: 2rem;
}

.body-content {
  gap: 3rem;
}

.sidebar-container {
  width: 15%;
  position: relative;
}

.sidebar {
  position: sticky;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  overflow-y: auto;
}

.sidebar ul {
  list-style-type: none;
  gap: 1.5rem;
}

.sidebar ul li {
  font-family: "Josefin Sans", sans-serif;
  color: var(--COLOR-btn-primary);
}

.sidebar ul li hr {
  border: none;
  border-top: dotted 3px var(--COLOR-btn-primary);
}

.sidebar ul li h3 {
  padding: 0;
  margin: 0;
}

.sidebar a {
  text-decoration: none;
  color: var(--COLOR-btn-primary);
}

.sidebar a.active {
  text-decoration: underline;
  color: var(--COLOR-btn-primary-hover);
}

.sidebar a:hover {
  cursor: pointer;
  text-decoration: underline;
  color: var(--COLOR-btn-primary-hover);
}

.example-container {
  width: 100%;
  gap: 2rem;
}

.example-text-body h1{
  display: flex;
  align-items: center;
}

.example-text-body span {
  padding-right: 10px;
  color: var(--COLOR-btn-primary);
}

.sidebar-hamburger{
  display: none;
  margin-left: auto;
}

.example-text-body .span-code {
  padding: 0 10px;
  border: 1px solid var(--COLOR-btn-primary-hover);
  border-radius: 10px;
  color: var(--COLOR-btn-primary);
  background-color: var(--COLOR-secondary-bg);
}

.example-text-body .span-error {
  color: var(--COLOR-red);
}

.example-text-body .span-success {
  color: #28a745;
}

.example-text-body .span-warning {
  color: #fde68a;
}

.example-text-body .span-info {
  color: #17a2b8;
}

.example-showcase {
  border: 3px solid var(--COLOR-border);
  padding: 10px;
  background-color: var(--COLOR-secondary-bg);
}

.carbon-iframe {
  border: 3px solid var(--COLOR-border);
  padding: 10px;
  background-color: var(--COLOR-secondary-bg);
}

.flex-row-avatar {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: flex-end;
  gap: 2rem;
}

.section-divider {
  border: none;
  border-top: 3px dotted var(--COLOR-btn-primary);
  width: 100%;
}

.red-box {
  color: white;
  background-color: red;
}

.list-container{
  padding: 2rem;
}

@media (max-width: 480px) {
  .sidebar-container{
    display: none;
  }

  .sidebar-container.display{
    padding: 0 2rem;
    display: flex;
    position: absolute;
    left: 0;
    background-color: var(--COLOR-secondary-bg);
    z-index: 2;
    width: max-content;
  }
  .sidebar-hamburger{
    display: block;
  }
  .flex-row-avatar{
    flex-flow: column;
    align-items: center;
  }
}
